<mat-toolbar color="primary">
  <button mat-button routerLink="/homePage">Home</button>
  <span class="spacer"></span>
  <span>Recycla Score</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Compte</span>
    </button>
    <button mat-menu-item>
      <span>Ajouter matériaux</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="form-layout">
  <mat-card class="cardContainer">
    <mat-card-content class="centerCard">
      <mat-card-header>
        <p class="explanatory-text">
          Veuillez sélectionner un objet dans la liste ci-dessous pour voir son score de recyclage.
        </p>
      </mat-card-header>

      <mat-card class="selection-card">
        <div class="listContainer">
          <select class="selectMenu" [(ngModel)]="selectedMaterial" (ngModelChange)="getMaterialsCard($event)">
            <option value="#" selected disabled>Sélectionnez une option</option>
            <option *ngFor="let material of materialsList" [ngValue]="material">
              {{ material.name }} &nbsp;
            </option>
          </select>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
