* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.form-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.cardContainer {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  text-align: center;
}

.centerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-card {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectMenu {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
}

.explanatory-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
