.form-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.full-width {
  width: 100%;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
