<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span>Recycla Score</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="form-layout">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Recycla_score</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
          Log In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
