<div class="listContainer" >
  <select class="selectMenu"   >
    <option value="#" selected disabled  >Sélectionnez une option</option>
    <option value="#" *ngFor="let material of materialList" (click)="getMaterialsCardEmit(material)">
      {{ material.name}}  &nbsp;

    </option>
  </select>
</div>





