* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 64px;
}

.material-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.material-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.material-score {
  font-size: 18px;
  color: #555;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
