<mat-toolbar color="primary">
  <button mat-button routerLink="/homePage">Home</button>

  <span class="spacer"></span>
  <span>Recycla Score</span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Compte</span>
    </button>
    <button mat-menu-item>
      <span>Ajouter matériaux</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="cardContainer">
  <mat-card *ngIf="materials" class="material-card">
    <img mat-card-image [src]="materials.image" alt="materials image" class="material-image" />
    <mat-card-title class="material-title">{{ materials.name }}</mat-card-title>
    <mat-card-content class="material-score">
      Score de recyclage : {{ recyclingScore }}
    </mat-card-content>
  </mat-card>
</div>
